WORKSHOPS/02_LIGHTSHEET/SOFTWARE/NodeRed-01-LED_andSerial_Example.json
[{"id":"7c049cf2.d2efa4","type":"tab","label":"Light-LED control","disabled":false,"info":""},{"id":"359302df.005a1e","type":"mqtt in","z":"7c049cf2.d2efa4","name":"","topic":"esp32/status","qos":"0","datatype":"auto","broker":"da263cbf.ebf5","x":510,"y":360,"wires":[["4ae9ab9d.b18a04","863dc645.a18a08"]]},{"id":"4ae9ab9d.b18a04","type":"debug","z":"7c049cf2.d2efa4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":360,"wires":[]},{"id":"b14c579c.bc3688","type":"mqtt out","z":"7c049cf2.d2efa4","name":"","topic":"esp32/nbrs","qos":"2","retain":"","broker":"da263cbf.ebf5","x":510,"y":200,"wires":[]},{"id":"a3168bf5.136318","type":"ui_slider","z":"7c049cf2.d2efa4","name":"","label":"slider","tooltip":"","group":"84f6b17c.7b2f6","order":5,"width":0,"height":0,"passthru":false,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":250,"y":200,"wires":[["b14c579c.bc3688","b7b4d954.be77c8"]]},{"id":"cbb14bf4.1f3818","type":"mqtt out","z":"7c049cf2.d2efa4","name":"","topic":"esp32/led","qos":"2","retain":"","broker":"da263cbf.ebf5","x":500,"y":100,"wires":[]},{"id":"21ed6655.17f6ca","type":"ui_button","z":"7c049cf2.d2efa4","name":"","group":"84f6b17c.7b2f6","order":1,"width":0,"height":0,"passthru":false,"label":"LED","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":250,"y":140,"wires":[["cbb14bf4.1f3818","ca8b8eb4.e2af2"]]},{"id":"99975ea4.f6664","type":"ui_text_input","z":"7c049cf2.d2efa4","name":"","label":"Send to ESP32","tooltip":"","group":"84f6b17c.7b2f6","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":280,"y":260,"wires":[["bae6d27a.b7ee6","9fe646b.27cf2b8"]]},{"id":"bae6d27a.b7ee6","type":"mqtt out","z":"7c049cf2.d2efa4","name":"","topic":"esp32/msg","qos":"2","retain":"","broker":"da263cbf.ebf5","x":510,"y":260,"wires":[]},{"id":"863dc645.a18a08","type":"ui_text","z":"7c049cf2.d2efa4","group":"84f6b17c.7b2f6","order":3,"width":0,"height":0,"name":"","label":"ESP32 status","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":400,"wires":[]},{"id":"daab1012.cc554","type":"ui_text","z":"7c049cf2.d2efa4","group":"84f6b17c.7b2f6","order":4,"width":0,"height":0,"name":"","label":"ESP32 on","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":440,"wires":[]},{"id":"2160ca96.a9d7d6","type":"mqtt in","z":"7c049cf2.d2efa4","name":"","topic":"esp32/on","qos":"2","datatype":"auto","broker":"da263cbf.ebf5","x":500,"y":440,"wires":[["daab1012.cc554"]]},{"id":"b7b4d954.be77c8","type":"debug","z":"7c049cf2.d2efa4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":160,"wires":[]},{"id":"ca8b8eb4.e2af2","type":"debug","z":"7c049cf2.d2efa4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":60,"wires":[]},{"id":"9fe646b.27cf2b8","type":"debug","z":"7c049cf2.d2efa4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":320,"wires":[]},{"id":"da263cbf.ebf5","type":"mqtt-broker","z":"","name":"Raspi-Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"84f6b17c.7b2f6","type":"ui_group","z":"","name":"Light-Buttons","tab":"c05f0f7b.6b65e","order":1,"disp":true,"width":"6","collapse":false},{"id":"c05f0f7b.6b65e","type":"ui_tab","z":"","name":"Light-LED","icon":"accessibility","order":1,"disabled":false,"hidden":false}]