WORKSHOPS/02_LIGHTSHEET/SOFTWARE/NodeRed-02-Lightsheet-Nodes.json
[{"id":"549ffc9c.8ff884","type":"tab","label":"UC2-Lightsheet","disabled":false,"info":""},{"id":"6e1ab60f.2f2898","type":"ui_slider","z":"549ffc9c.8ff884","name":"","label":"Speed","tooltip":"","group":"bfc6076d.6f8de8","order":3,"width":"5","height":"1","passthru":false,"outs":"all","topic":"/setup1/motor/speed","min":"5","max":"20","step":1,"x":570,"y":320,"wires":[["441691dd.fb73d","b5d0a1af.8c4e6","541727f7.925be8"]]},{"id":"74d88a4c.5ef4f4","type":"ui_slider","z":"549ffc9c.8ff884","name":"","label":"Steps","tooltip":"","group":"bfc6076d.6f8de8","order":5,"width":"5","height":"1","passthru":false,"outs":"end","topic":"/setup1/motor/steps","min":"20","max":"800","step":"20","x":570,"y":360,"wires":[["8890045e.9dbdc8","f6876b0d.7386b8","32019697.89b52a"]]},{"id":"bbc5e942.53eb08","type":"ui_switch","z":"549ffc9c.8ff884","name":"","label":"Motors","tooltip":"Switches between X and Y motor.","group":"bfc6076d.6f8de8","order":1,"width":"5","height":"1","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"Y","onvalueType":"str","onicon":"","oncolor":"","offvalue":"X","offvalueType":"str","officon":"","offcolor":"","x":90,"y":300,"wires":[["9a92f9ec.8a2c78","81b529e7.eab678"]]},{"id":"4a3f9b8.1000564","type":"ui_button","z":"549ffc9c.8ff884","name":"","group":"bfc6076d.6f8de8","order":7,"width":"3","height":"1","passthru":false,"label":"Down","tooltip":"","color":"","bgcolor":"","icon":"","payload":"-1","payloadType":"num","topic":"","x":570,"y":580,"wires":[["cc045fc2.0f856"]]},{"id":"b50891aa.d9e24","type":"ui_button","z":"549ffc9c.8ff884","name":"","group":"bfc6076d.6f8de8","order":8,"width":"3","height":"1","passthru":false,"label":"UP","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":570,"y":540,"wires":[["cc045fc2.0f856"]]},{"id":"42411592.5b018c","type":"ui_text","z":"549ffc9c.8ff884","group":"75e59021.b8b9f","order":0,"width":0,"height":0,"name":"","label":"Device Name","format":"{{msg.payload}}","layout":"row-spread","x":340,"y":80,"wires":[]},{"id":"d11e865.0696f78","type":"ui_text","z":"549ffc9c.8ff884","group":"75e59021.b8b9f","order":0,"width":0,"height":0,"name":"","label":"Device Ready","format":"{{msg.payload}}","layout":"row-spread","x":340,"y":160,"wires":[]},{"id":"497ffa7c.1e4084","type":"ui_text","z":"549ffc9c.8ff884","group":"75e59021.b8b9f","order":0,"width":0,"height":0,"name":"","label":"Device Status","format":"{{msg.payload}}","layout":"row-spread","x":340,"y":120,"wires":[]},{"id":"9a92f9ec.8a2c78","type":"ui_text","z":"549ffc9c.8ff884","group":"bfc6076d.6f8de8","order":2,"width":"1","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":250,"y":300,"wires":[]},{"id":"17ec8730.e58b09","type":"mqtt in","z":"549ffc9c.8ff884","name":"","topic":"esp32/on","qos":"2","datatype":"auto","broker":"da263cbf.ebf5","x":100,"y":120,"wires":[["497ffa7c.1e4084"]]},{"id":"387a31bd.366e9e","type":"mqtt in","z":"549ffc9c.8ff884","name":"","topic":"esp32/status","qos":"2","datatype":"auto","broker":"da263cbf.ebf5","x":110,"y":160,"wires":[["d11e865.0696f78"]]},{"id":"ce9a092e.186f08","type":"mqtt in","z":"549ffc9c.8ff884","name":"","topic":"esp32/name","qos":"2","datatype":"auto","broker":"da263cbf.ebf5","x":110,"y":80,"wires":[["42411592.5b018c"]]},{"id":"81b529e7.eab678","type":"function","z":"549ffc9c.8ff884","name":"Save to ContextVal","func":"context.global.motor = context.global.motor || {};\ncontext.global.motor.active = msg.payload;\nvar outmsg = [];\nif(msg.payload == \"X\"){\n    outmsg = [{payload: context.global.motor.Xspeed},{payload: context.global.motor.Xsteps}];\n}\nelse{\n    outmsg = [{payload: context.global.motor.Yspeed},{payload: context.global.motor.Ysteps}];\n}\nreturn outmsg;","outputs":2,"noerr":0,"x":290,"y":360,"wires":[["6e1ab60f.2f2898"],["74d88a4c.5ef4f4"]]},{"id":"441691dd.fb73d","type":"ui_text","z":"549ffc9c.8ff884","group":"bfc6076d.6f8de8","order":4,"width":"1","height":"1","name":"Show Slider Val","label":"","format":"{{msg.payload}}","layout":"row-left","x":840,"y":260,"wires":[]},{"id":"8890045e.9dbdc8","type":"ui_text","z":"549ffc9c.8ff884","group":"bfc6076d.6f8de8","order":6,"width":"1","height":"1","name":"Show Slider Val","label":"","format":"{{msg.payload}}","layout":"row-left","x":840,"y":360,"wires":[]},{"id":"75432e29.88c24","type":"comment","z":"549ffc9c.8ff884","name":"Status","info":"","x":90,"y":40,"wires":[]},{"id":"13c7ce73.b97f02","type":"comment","z":"549ffc9c.8ff884","name":"Motors","info":"","x":90,"y":260,"wires":[]},{"id":"b5d0a1af.8c4e6","type":"function","z":"549ffc9c.8ff884","name":"Save to global Context","func":"if(context.global.motor.active == \"X\"){\n    context.global.motor.Xspeed = msg.payload;\n}\nelse{\n    context.global.motor.Yspeed = msg.payload;\n}\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":220,"wires":[[]]},{"id":"f6876b0d.7386b8","type":"function","z":"549ffc9c.8ff884","name":"Save to global Context","func":"if(context.global.motor.active == \"X\"){\n    context.global.motor.Xsteps = msg.payload;\n}\nelse{\n    context.global.motor.Ysteps = msg.payload;\n}\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":400,"wires":[[]]},{"id":"32019697.89b52a","type":"debug","z":"549ffc9c.8ff884","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":440,"wires":[]},{"id":"a3c70fe9.d686a","type":"comment","z":"549ffc9c.8ff884","name":"Imaging","info":"","x":70,"y":680,"wires":[]},{"id":"26e98a1c.4c7436","type":"ui_button","z":"549ffc9c.8ff884","name":"","group":"3ffebab5.727286","order":7,"width":"6","height":"1","passthru":false,"label":"Preview","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":80,"y":720,"wires":[["67dc8d45.774004"]]},{"id":"67dc8d45.774004","type":"mqtt out","z":"549ffc9c.8ff884","name":"","topic":"/setup1/cam1/preview","qos":"0","retain":"","broker":"da263cbf.ebf5","x":420,"y":720,"wires":[]},{"id":"6b72cf63.81498","type":"mqtt out","z":"549ffc9c.8ff884","name":"","topic":"/setup1/cam1/takeimage","qos":"0","retain":"","broker":"da263cbf.ebf5","x":430,"y":760,"wires":[]},{"id":"58a35bf3.463ef4","type":"ui_button","z":"549ffc9c.8ff884","name":"","group":"3ffebab5.727286","order":7,"width":"6","height":"1","passthru":false,"label":"Take Image","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":760,"wires":[["6b72cf63.81498"]]},{"id":"e28d869a.8dbde8","type":"mqtt out","z":"549ffc9c.8ff884","name":"","topic":"/setup1/cam1/takevideo","qos":"0","retain":"","broker":"da263cbf.ebf5","x":430,"y":800,"wires":[]},{"id":"6433f2ac.f1a3ec","type":"ui_button","z":"549ffc9c.8ff884","name":"","group":"3ffebab5.727286","order":7,"width":"6","height":"1","passthru":false,"label":"Take Video","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":800,"wires":[["e28d869a.8dbde8"]]},{"id":"541727f7.925be8","type":"function","z":"549ffc9c.8ff884","name":"split to MQTT","func":"if(context.global.motor.active == \"X\"){\n    mymsg = [msg,null];\n}\nelse{\n    mymsg = [null,msg];\n}\nreturn mymsg;","outputs":2,"noerr":0,"x":840,"y":320,"wires":[["249b0c90.b8a594"],["3df750b2.3a6e5"]]},{"id":"249b0c90.b8a594","type":"mqtt out","z":"549ffc9c.8ff884","name":"","topic":"/setup1/motorX/setspeed","qos":"0","retain":"","broker":"da263cbf.ebf5","x":1110,"y":280,"wires":[]},{"id":"491dad78.831a94","type":"mqtt out","z":"549ffc9c.8ff884","name":"","topic":"/setup1/motorX/move","qos":"0","retain":"","broker":"da263cbf.ebf5","x":1180,"y":500,"wires":[]},{"id":"3df750b2.3a6e5","type":"mqtt out","z":"549ffc9c.8ff884","name":"","topic":"/setup1/motorY/setspeed","qos":"0","retain":"","broker":"da263cbf.ebf5","x":1110,"y":340,"wires":[]},{"id":"cc045fc2.0f856","type":"function","z":"549ffc9c.8ff884","name":"Set direction and steps -> send MQTT","func":"if(context.global.motor.active == \"X\"){\n    mymsg = [{payload: msg.payload * context.global.motor.Xsteps},null]\n}\nelse{\n    mymsg = [null,{payload: msg.payload * context.global.motor.Ysteps}]\n}\nreturn mymsg;","outputs":2,"noerr":0,"x":890,"y":560,"wires":[["491dad78.831a94","da03c53.ca90d38"],["e9033590.f3cba8","9922ee06.fa17"]]},{"id":"e9033590.f3cba8","type":"mqtt out","z":"549ffc9c.8ff884","name":"","topic":"/setup1/motorY/move","qos":"0","retain":"","broker":"da263cbf.ebf5","x":1160,"y":600,"wires":[]},{"id":"da03c53.ca90d38","type":"debug","z":"549ffc9c.8ff884","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":460,"wires":[]},{"id":"9922ee06.fa17","type":"debug","z":"549ffc9c.8ff884","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1130,"y":660,"wires":[]},{"id":"bfc6076d.6f8de8","type":"ui_group","z":"","name":"Motors","tab":"8a3542ce.bdb2f","order":2,"disp":true,"width":"6","collapse":false},{"id":"75e59021.b8b9f","type":"ui_group","z":"","name":"Status","tab":"8a3542ce.bdb2f","order":1,"disp":true,"width":"6","collapse":false},{"id":"da263cbf.ebf5","type":"mqtt-broker","z":"","name":"Raspi-Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3ffebab5.727286","type":"ui_group","z":"","name":"Imaging","tab":"8a3542ce.bdb2f","order":3,"disp":true,"width":"6","collapse":false},{"id":"8a3542ce.bdb2f","type":"ui_tab","z":"","name":"UC2-LS Control","icon":"dashboard","order":4,"disabled":false,"hidden":false}]